.nav-bg {
  background-color: #00577F;
}

.navbar-brand {
  width: 150px;
}

.navbar-arrow-icon {
  height: 20px;
}

button {
  appearance: none !important; 
  text-rendering: none !important;
  color: none !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: none !important;
  text-shadow: none !important;
  display: inline-block !important;
  text-align: none !important;
  align-items: flex-start !important; 
  background-color: none !important;
  box-sizing: border-box !important; 
  font: inherit !important; 
  border-width: none !important;
  border-style: none !important;
  border-color: none !important;
  border-image: initial !important;
  display: flex !important;
  flex-wrap: wrap !important; 
  list-style: none !important;  
}